#pracownicyMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#pacjenciMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#roleMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#specjalizacjeMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#celeWizytMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#wydarzeniaMedyczneMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#pracownicyRoleMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#lekarzeSpecjalizacjeMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#LPKMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#wizytyPlanowaneMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#wizytyOdbyteMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#skierowaniaMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#historiaMedycznaMenu {
    -fx-background-color:lightgray;
    -fx-border-style:solid;
    -fx-padding: 5px 5px 5px 5px;
}

#ankietyMenu {
     -fx-background-color:lightgray;
     -fx-border-style:solid;
     -fx-padding: 5px 5px 5px 5px;
 }

#rankingiMenu {
     -fx-background-color:lightgray;
     -fx-border-style:solid;
     -fx-padding: 5px 5px 5px 5px;
 }

 #errorMessage {
    -fx-fill: red;
    -fx-font-size: 10px;
    -fx-wrap: true;
 }